@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;600&display=swap');


html {
  margin: 0;
}

body {
  display: flex;
  /* min-height: 100vh; */
  flex-direction: column;
  margin: 0;
  background-color: #f2f3f8;
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
}

.title {
  margin-bottom: 4rem;
}
.title h1 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 0rem;
  font-family: 'Montserrat', sans-serif;
}

.title p {
  font-size: 0.9rem;
  color: #303030;
  text-align: center;
  font-family: 'Lato', sans-serif;
}


  .dashboard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 1rem 2rem 1rem 2rem;
  }



    .dashboard {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      margin: 1rem 2rem 1rem 2rem;
    }
  

.dashboard h2 {
  text-align: left;
  margin-left: 1rem;
}


    .chart-container {
      font-family: 'Lato', sans-serif;
      display: flex;
      align-items:stretch;
      flex-direction: column;
      margin-bottom: 2rem;
      font-size: 0.8rem;
      width: 100%;
      height: 272px;
      background: white;
      border-radius: 20px;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }

    .chart-container-alt {
      font-family: 'Lato', sans-serif;
      display: flex;
      align-items:stretch;
      flex-direction: column;
      margin-bottom: 2rem;
      font-size: 0.8rem;
      width: 100%;
      height: 272px;
      background: #007aff;
      border-radius: 20px;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }


.chart-title h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
}

.chart-text {
  font-size: 0.9rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-top: 0rem;
  color: #303030;
  line-height: 1.1rem;
}

.chart-container-alt {
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items:stretch;
  flex-direction: column;
  margin-bottom: 2rem;
  font-size: 0.8rem;
  width: 100%;
  height: 272px;
  border-radius: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  background-color: #007aff;
  color: #fefefe;
}


.chart-text {
  font-size: 14px;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-top: 0rem;
  color: #fff;
  line-height: 1.1rem;
}