@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;600&display=swap');



/* Header bar */
.navbar {
  overflow: hidden;
  background-color: #fefefe;
  position: fixed;
  top: 0;
  width: 100%;
  height:4rem;
  z-index: 9999;
}

.logo {
  height: 2rem;
  width: 2rem;
  margin: 1rem;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 1.5rem;
  width: 1.5rem;
  margin: 1.25rem 1rem 1.25rem 1rem;
}

.avatar {
  position: fixed;
  top: 0;
  right: 2.5rem;
  height: 1.5rem;
  width: 1.5rem;
  margin: 1.25rem 1rem 1.25rem 1rem;
}

/* Dropdown menu */


html {
  margin: 0;
}

body {
  display: flex;
  /* min-height: 100vh; */
  flex-direction: column;
  margin: 0;
  background-color: #f4f4f4;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
}

.title {
  margin: 1rem;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.title h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0rem;
  font-family: 'Montserrat', sans-serif;
  width: 80%;
}

.title input {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0rem;
  font-family: 'Inter', sans-serif;
  width: 3rem;
  text-align: center;
  height: 100%;
  border-radius: 20px;
  border-width: 1px;
  color: #007aff;
  background-color: #fff;
  align-self: center;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-color: #007aff;
  text-transform: uppercase;
  
}

.title p {
  font-size: 0.8rem;
  color: #000;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin: 0rem;
  width: 8rem;
  text-align: right;
  height: 100%;
  color: #303030;
  align-self: center;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}



    .dashboard {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      margin: 1rem 1rem 1rem 1rem;
      padding-top: 3rem;
      gap: 1rem;
  }

    @media (min-width: 60em) {
      .dashboard {
      display: flex;
      align-items: center;
      justify-content:center;
      flex-direction: row;
      margin: 1rem 1rem 1rem 1rem;
      padding-top: 3rem;
      flex-wrap: wrap;
      gap: 2em;
      
    
      }
    }
  

.dashboard h2 {
  text-align: left;
  margin: 1rem;
}


    .chart-container {
      font-family: 'Inter', sans-serif;
      display: flex;
      align-items: stretch;
      flex-direction: column;
      /* margin-bottom: 1rem; */
      font-size: 0.8rem;
      width: 100%;
      height: 272px;
      background: white;
      border-radius: 20px;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      max-width: 36em;
    }

    .chart-container-alt {
      font-family: 'Inter', sans-serif;
      display: flex;
      align-items: stretch;
      flex-direction: column;
      /* margin-bottom: 1rem; */
      font-size: 0.8rem;
      width: 100%;
      height: 272px;
      background: #007aff;
      border-radius: 20px;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      max-width: 36em;
      margin: 0rem;
      color: white;
    }

    
    .kpi-container-outer {
      font-family: 'Inter', sans-serif;
      display: flex;
      align-items: center;
      flex-direction: row;
      /* margin-bottom: 3rem; */
      font-size: 0.8rem;
      width: 100%;
      height: 70%;
    }

    .kpi-container-inner {
      font-family: 'Inter', sans-serif;
      display: flex;
      align-items: center;
      flex-direction: row;
      /* margin-bottom: 3rem; */
      font-size: 0.8rem;
      width: 90%;
      height: 90%;
      justify-content: space-around;
      background-color: #f4f4f4;
      border-radius: 20px;
      margin: 5%;
    }

    .kpi-metric-container-1 {
      background-color: #fefefe;
      width: 90%;
      height: 85%;
      border-radius: 20px;
      margin: 5% 2.5% 5% 5%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
    }

    .kpi-metric-container-1 h3 {
      color: #303030;
   
      margin: 0rem;
    }

    .kpi-metric-container-1 h1 {
      color: #303030;
      font-size: 2rem;
      margin: 1rem;
    }



    .kpi-metric-container-2 {
      background-color: #f4f4f4;
      width: 90%;
      height: 85%;
      border-radius: 20px;
      margin: 5% 2.5% 5% 5%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
    }

    .kpi-metric-container-2 h3 {
      color: #303030;
    
      margin: 0rem;
    }

    .kpi-metric-container-2 h1 {
      color: #303030;
      font-size: 2rem;
      margin: 1rem;
    }



    .kpi-variance {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: row;
      margin: 0rem;
      background-color: gray;
      border-radius: 20px;
    }

    .kpi-variance-arrow h4 {
      margin: 0.4rem 0.3rem 0.4rem 0.6rem;
      font-size: 0.8rem;
      color: #fefefe;
    }

    .kpi-variance-number h4 {
      margin: 0.4rem 0.6rem 0.4rem 0.3rem;
      color: #fefefe;
      font-size: 0.8rem;
    }
    .kpi-variance-number img {
      margin: 0;
      padding: 0.4rem;
    }




    .see-more {
      border-color: #fefefe;
      border-width: 1px;
      border-style: solid;
      color: #fefefe;
      border-radius: 20px;
      padding: 0.2rem 0.4rem 0.2rem 0.4rem; 
      text-align: center;
      width: 6rem;
      font-size: 0.8rem;
      margin-left: auto; 
      margin-right: 0;

    }

    a {
      text-decoration: none;
      display: inline-block;
    }

.chart-title h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

.chart-text {
  font-size: 0.9rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-top: 0rem;
  color: #303030;
  line-height: 1.1rem;
}

.chart-text p {
  height: 10rem;
}



.chart-text {
  font-size: 14px;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-top: 0rem;
  color: #fff;
  line-height: 1.1rem;
}

.month-selector-container {
  position: fixed;
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
  background-color: #007aff;
  border-width: 1px;
  font-weight: 600;



}